/* Стили для модальных окон */
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed; /* Фиксированное расположение */
    z-index: 10; /* Поверх других элементов */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
}

/* Контент модального окна */
.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    position: relative;
}

/* Кнопка закрытия */
.close-btn {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
}

/* При наведении на кнопку закрытия */
.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Оверлей */
.overlay {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Тёмный фон */
    z-index: 0; /* Оверлей будет под модальными окнами */
}

